engine-strict=true
resolution-mode=highest

registry=https://registry.npmjs.org/
; registry=https://npm-registry.anagolay.io/

## macula npm-registry
# registry=http://localhost:3002/npm/

package-manager-strict-version=true

